{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container mt-4 text-center">
        <h1>Welcome, {{ user.username }}! You're an admin user</h1>
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    </div>
</body>
</html>
