{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anon Dashboard</title>
</head>
<body>

    <div class="container mt-4 text-center">
        <h1>Welcome Unnamed! You're an anonymous user. View your complaints or go <a href="/">
            Back to dashboard
        </a>
    </h1>
        <h2>Complaints Overview</h2>
        <div class="list-group mt-4">
            {% for complaint in complaints %}
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ complaint.name }}</h5>
                        <small>Submitted: {{ complaint.created_at|date:"F d, Y H:i" }}</small>
                    </div>
                    <p class="mb-1">Location: {{ complaint.location }}</p>
                    <p class="mb-1">Description: {{ complaint.description|truncatechars:100 }}</p>
                    {% if complaint.upload %}
                        {% if complaint.is_image %}
                        <img src="{{ complaint.upload.url }}" alt="Image preview" class="img-fluid">
                        {% elif complaint.is_pdf %}
                        <iframe src="{{ complaint.upload.url }}" width="100%" height="200"></iframe>
                        {% elif complaint.is_text %}
                        <a href="{{ complaint.upload.url }}" target="_blank">View Text File</a>
                        {% else %}
                        <a href="{{ complaint.upload.url }}" target="_blank">Download File</a>
                        {% endif %}
                    {% endif %}
                    {% if complaint.user %}
                        <small>By: {{ complaint.user.username }}</small>
                    {% else %}
                        <small>By: Anonymous</small>
                    {% endif %}
                </a>
            {% empty %}
                <p>No complaints have been submitted yet.</p>
            {% endfor %}
        </div>
        <div class="my-4">
            <a href="{% url 'anonymous_complaint_form' %}" class="btn btn-primary">File a Complaint</a>
        </div>
    </div>
</body>
</html>
