{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit an Anonymous Complaint</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
        }
        h1, h2, h3, h4, h5, h6 {
            color: navy;
        }
        a {
            color: navy;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <div class="container mt-2 text-center">
            <h1>Welcome, Unnamed! You're an anonymous user. View your complaints or go <a href="/">
                back to dashboard.
            </a>
        </h1>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Submit Complaint</button>
        </form>
    </div>
    
    {% bootstrap_javascript %}
</body>
</html>
