{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Housing Reporting App UVA</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            color: navy;
        }

        .btn-orange {
            color: #fff;
            background-color: #ff7f0e;
            border-color: #ff7f0e;
        }

        .btn-orange:hover {
            color: #fff;
            background-color: #e65c00;
            border-color: #e65c00;
        }
    </style>
</head>
<body>
    <div class="container text-center mt-4">
       <img src="https://projectb28.s3.amazonaws.com/static/rotunda.png" alt="Rotunda Image" width="300" height="200">
        <h1>UVA Housing Reporting App</h1>
        {% if user.is_authenticated %}
            <p>Welcome, You are logged in as {{ user.username }}</p>
            <div class="btn-group" role="group">
                <a href="{% url 'dashboard' %}" class="btn btn-success">Dashboard</a>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </div>
        {% else %}
            <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login With Google</a>
            <a href="{% url 'anonymous_complaint_form' %}" class="btn btn-orange">Submit an Anonymous Complaint</a>
        {% endif %}
    </div>
</body>
</html>


