{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Housing Reporting App UVA</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            color: navy;
        }

        .btn-orange {
            color: #fff;
            background-color: #ff7f0e;
            border-color: #ff7f0e;
        }

        .btn-orange:hover {
            color: #fff;
            background-color: #e65c00;
            border-color: #e65c00;
        }
    </style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Reporting Resources</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://housing.virginia.edu/safety" target="_blank">UVA Housing</a>
                        <a class="nav-link" href="https://housing.virginia.edu/emergency-procedures" target="_blank">UVA Emergencies</a>
                        <a class="nav-lin" href="https://offgroundshousing.student.virginia.edu/resources/article/1789-off-grounds-housing-guid" target="_blank">Off-Grounds Housing</a>
                        <a class="nav-link" href="https://www.hud.gov/complaints_home" target="_blank">Dept. of Housing</a>
                    </li>
                    <!-- You can add more nav-items here -->
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container text-center mt-4">
       <img src="https://projectb28.s3.amazonaws.com/static/rotunda.png" alt="Rotunda Image" width="600" height="400">
        <h1>UVA Housing Reporting App</h1>
        {% if user.is_authenticated %}
            <p>Welcome, You are logged in as {{ user.username }}</p>
            <div class="btn-group" role="group">
                <a href="{% url 'dashboard' %}" class="btn btn-success">Dashboard</a>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </div>
        {% else %}
            <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login With Google</a>
            <a href="{% url 'anonymous_complaint_form' %}" class="btn btn-orange">Submit an Anonymous Complaint</a>
        {% endif %}
    </div>
</body>
</html>

