li a {
    color: navy;
}
body {
    background: white url("images/rotunda.png") no-repeat;
}
.underline {
  text-decoration: underline;
}
.header {
  color: navy;
  font-family: "Times New Roman", Times, serif;
}