{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html>

<link rel="stylesheet" href="{% static 'style.css' %}">
<body>
  <div class="container d-flex justify-content-center align-items-center" >
  <h1>My Google OAuth Project </h1>
{% if user.is_authenticated %}

  <p>Welcome, You are logged in as {{ user.username }}</p>
  </div>
{% else %}
<div class="container d-flex justify-content-center align-items-center" >

<button class="btn btn-primary">
  <!-- Use JavaScript to redirect to the Google login URL -->
  <a href="{% provider_login_url 'google' %}" style="color: blue;">
      Login With Google as Admin
  </a>
</button>
<button class="btn btn-primary">
  <!-- Use JavaScript to redirect to the Google login URL -->
  <a href="{% provider_login_url 'google' %}" style="color: blue;">
      Login With Google as Admin
  </a>
</button>
</div>
{% endif %}
</body>
</html>
